
h1 {
color :navy;text-align:center;font-size: 60px}

h2 {
    color :navy;text-align:left;font-size: 30px}

h3 {
    color :navy;text-align:left;font-size: 25px;}

h4 {
    color :navy;text-align:left;font-size: 19px;margin-bottom: 0;}
    

header {background-color:lightblue}
.knowledge,.experience,.languages {background-color:lightblue;}

body {background-color:lightblue ; font-family:Arial, Helvetica, sans-serif;font-size: 18px;}

.intro img {
    width: 23%;
    border: 2px lightblue;
    float: right;
    border-radius: 15px;
    margin: 0 40px 40px 0;}

/* table{border-spacing: 0;} */

.vpravo {text-align:right ;padding-left: 40px;}
th{text-align:left ;}

p{padding:20px}
section{padding: 50px;}
header{padding: 50px;}
footer{padding: 50px;}
tr{margin-bottom: 20px}


.konec{background-color: darkgrey; color: black;text-align:right }
.knowledge{background-color:skyblue;}
.experience{background-color: skyblue;}
.languages {background-color: skyblue;}

